<div class="modal-dialog">
  <div class="modal-content">
    <div class="page--header">ユーザー新規作成</div>
    <%= form_for(@activity, remote: true) do |f| %>
      <div class="form-group">
        <%= f.label '名前', class: "col-sm-4 control-label" %><br />
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'メールアドレス', class: "col-sm-4 control-label"  %><br />
        <div class="col-sm-10">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "作成", class: "btn btn-success btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>