<div class="jiro">
  <%= render 'counter_pannels' %>
  
  <div class="jiro--list">
    <div class="jiro--list--title">あなたの食事履歴</div>
    <div class="jiro--list--cation">
      <%= link_to 'もっと詳しく見る', new_user_path, class: "btn btn-warning" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>店舗</th>
          <th>メニュー</th>
          <th>日付</th>
        </tr>
      </thead>
      <tbody id="activites_list">
        <% @activities.each_with_index do |a, i|%>
          <tr>
            <th><%= Store.find(a.store_id).name %></th>
            <th><%= Menu.find(a.menu_id).name %></th>
            <th><%= a.created_at.strftime("%Y/%m/%d %H:%M:%S") %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="jiro--list">
    <div class="jiro--list--title">あなたの称号履歴</div>
    <div class="jiro--list--cation">
      <%= link_to 'もっと詳しく見る', new_user_path, class: "btn btn-warning" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>称号</th>
          <th>取得日付</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>初二郎！</th>
          <th>2018/05/18</th>
        </tr>
        <tr>
          <th>池袋店踏破！</th>
          <th>2018/05/18</th>
        </tr>
        <tr>
          <th>新宿店踏破！</th>
          <th>2018/05/31</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- ボタンは最後にしないと優先順の関係で隠れる -->
<!-- ここからとった https://propeller.in/components/floating-button.php -->
<!-- Default circle button with ripple effect -->
<!-- Floating Action Button like Google Material -->
<div class="menu pmd-floating-action"  role="navigation"> 
	<a class=""  href="javascript:void(0);"> 
  <%= link_to '追加', new_activity_path, remote: true, class: "pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger", remote: true, style: "line-height: 55px;" %>
	</a>
</div>
<div id="activity-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
