<div class="jiro">
  <div class="jumbotron jiro">
    <h1 class="display-3">お前は今まで食べた麺の量を覚えているか？</h1>
  </div>
  <%= link_to 'New Activity', new_activity_path, remote: true, class: "btn btn-lg btn-danger" %>
<div id="activity-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div class="container-fluid jiro">
    <div class="jiro--pannel">
      <div class="jiro--pannel--item">
        <div class="jiro--pannel--item--title">
          今まで食べた量 
        </div>
        <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
          1000
        </div>
        <div class="jiro--pannel--item--unit">
          杯
        </div>
      </div>
      <div class="jiro--pannel--item">
        <div class="jiro--pannel--item--title">
          総カロリー
        </div>
        <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
          10000 
        </div>
        <div class="jiro--pannel--item--unit">
          kcal
        </div>
      </div> 
      <div class="jiro--pannel--item">
        <div class="jiro--pannel--item--title">
          踏破店舗
        </div>
        <div class="jiro--pannel--item--body" style="margin: 20px 0px;">
          30
        </div>
        <div class="jiro--pannel--item--unit">
          店舗
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="parent-card-1">
        <div class="card jiro">
          <div class="card-header jiro">
            <div style="display: flex; justify-content: space-between;">
            <a class="card-link text-danger" data-toggle="collapse" data-parent="#parent-card-1" href="#card-element-1">
              <button class="btn btn-danger ">食事履歴</button>
            </a>
            <a class="card-link">
              <%= link_to '詳細', new_user_path, remote: true, class: "btn btn-primary" %>
            </a>
            </div>
          </div>
          <div id="card-element-1" class="collapse show">
            <div class="card-body">
              <table class="table border border-danger">
                <thead>
                  <tr>
                    <th>店舗</th>
                    <th>メニュー</th>
                    <th>日付</th>
                  </tr>
                </thead>
                <tbody id="activites_list">
                  <% @activities.each_with_index do |a, i|%>
                    <tr>
                      <th><%= Store.find(a.store_id).name %></th>
                      <th><%= Menu.find(a.menu_id).name %></th>
                      <th><%= a.created_at.strftime("%Y/%m/%d %H:%M:%S") %></th>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div id="parent-card-2">
        <div class="card jiro">
          <div class="card-header jiro">
            <div style="display: flex; justify-content: space-between;">
            <a class="card-link" data-toggle="collapse" data-parent="#parent-card-2" href="#card-element-2">
              <button class="btn btn-danger">称号履歴</button>
            </a>
            <a class="card-link">
              <%= link_to '詳細', new_user_path, remote: true, class: "btn btn-primary" %>
            </a>
            </div>
          </div>
          <div id="card-element-2" class="collapse show">
            <div class="card-body">
              <table class="table border border-danger">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>称号</th>
                    <th>取得日付</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <th>初二郎！</th>
                    <th>2018/05/18</th>
                  </tr>
                  <tr>
                    <th>2</th>
                    <th>池袋店踏破！</th>
                    <th>2018/05/18</th>
                  </tr>
                  <tr>
                    <th>3</th>
                    <th>新宿店踏破！</th>
                    <th>2018/05/31</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ボタンは最後にしないと優先順の関係で隠れる -->
<!-- ここからとった https://propeller.in/components/floating-button.php -->
<!-- Default circle button with ripple effect -->
<!-- Floating Action Button like Google Material -->
<div class="menu pmd-floating-action"  role="navigation"> 
	<a class=""  href="javascript:void(0);"> 
  <%= link_to '追加', new_activity_path, remote: true, class: "pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-danger",
    remote: true, style: "line-height: 55px;" %>
	</a> 
</div>